[Unit]
Description=Java Hello World Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/java-hello
ExecStart=/usr/bin/java HelloWorld
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
